:root {
    --color-bluel: rgba(11, 148, 153, 0.829);
    --color-blued: rgba(17, 7, 105, 0.719);
    --color-white: rgba(238, 237, 241, 0.836);
    --color-whitel: #ccc;
    --color-r-skin: #fdf0c4;
    --color-r-pink: #f7a992;
    --color-r-blue: #82a0c2;
    --color-r-purple: #4c364d;
    --c-nav: #f19f08;
    --c-logo: #ff00de;
    --margin-main: 0 5rem;
    --font-color: rgb(231, 35, 9);
    --font-size: 24px;
}